<div class="panel panel-primary">
  <div class="panel-heading text-center">{{ $ctrl.message }}</div>
  <table class="table">
    <thead>
      <tr>
        <th>FirstName</th>
        <th>Last Name</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="employee in $ctrl.employees">
        <td>{{ employee.firstName }}</td>
        <td>{{ employee.lastName }}</td>
        <td>{{ employee.location }}</td>
      </tr>
    </tbody>
  </table>
  <form class="thing-form">
    <p>
        Comment :
        <input type="text" placeholder="Add a comment here." ng-model="$ctrl.comment">
        <button ng-click="$ctrl.clearComment()">Clear</button>
        <button ng-click="$ctrl.updateComment()">Update</button>
    </p>
  </form>
</div>
